<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc" lang="en" xmlns="http://www.w3.org/1999/html">
<head xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<table class="email-wrapper">
    <tr>
        <td class="content-cell">
            <h1><span th:text="${title}"></span></h1>
            <a th:href="${link + '?activate=' + activate + '&token=' + token}"><span th:text="${link + '?activate=' + activate + '&token=' + token}"></span>
            </a>
        </td>
    </tr>
</table>
</body>
</html>